<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/adminPanel.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/rented.js"></script>
    <title>Car-24</title>
</head>
<body>
    <!--include header-->
    <%- include('include/_header')%>
    <!--/include header-->
    <div class="main">
        <div class="panelTitle">
            Panel administratora
        </div>
        <%for (var result in results){%> 
            <div class="rentPanel">
                <div class="panelPart">
                    <div class="panel-part-title">
                        nazwa
                    </div>
                    <div class="panel-part-main">
                        <%= results[result].username %>
                    </div>
                    <div class="panel-part-main">
                        <%= results[result].name %> <%= results[result].surname %>
                    </div>
                    <div class="panel-part-main">
                        <%= results[result].company %>
                    </div>
                </div>
                <div class="panelPart">
                    <div class="panel-part-title">
                        samochód
                    </div>
                    <div class="panel-part-main">
                        <%= results[result].nazwa %>
                    </div>
                    <div class="panel-part-main">
                        <%= results[result].model %>
                    </div>
                </div>
                <div class="panelPart">
                    <div class="panel-part-title">
                        data wprowadzenia rezerwacji
                    </div>
                    <div class="panel-part-main">
                        <%= new Intl.DateTimeFormat('pl').format(results[result].rental_date) %>
                    </div>          
                </div>
                <div class="panelPart">
                    <div class="panel-part-title">
                        data rezerwacji
                    </div>
                    <div class="panel-part-main">
                        <span class="panel-before-date"> Od </span>
                        <%= new Intl.DateTimeFormat('pl').format(results[result].start) %>
                    </div>    
                    <div class="panel-part-main">
                        <span class="panel-before-date"> Do </span> 
                        <%= new Intl.DateTimeFormat('pl').format(results[result].end) %>
                    </div>                
                </div>
                <div class="panelPart">
                    <div class="panel-part-title">
                        status
                    </div>
                    <div class="panel-part-main">
                        <%= results[result].status %>                 
                    </div>
                </div>
                <div class="buttonPart">
                        <div class="form-wrap">
                            <form action="/approveRental/<%=results[result].rental_id%>" method="POST">
                                <% if (results[result].status == 'CANCELED' || results[result].status == 'APPROVED') { %>
                                <button type="submit" class="button-panel finalize-button" disabled>
                                        Finalizuj
                                </button>
                                <% } else {%> 
                                <button type="submit" class="button-panel finalize-button">
                                        Finalizuj
                                </button>
                                <% } %>       
                            </form>
                        </div>
                        <% if (results[result].status == 'CANCELED' || results[result].status == 'APPROVED') { %>
                        <button id="myBtn" 
                        onclick="openModal('<%=results[result].start%>','<%=results[result].end%>','<%=results[result].rental_id%>')" 
                        class="button-panel" disabled>
                            <span class="material-icons">
                                mode_edit
                            </span>
                        </button>
                        <% } else {%>  
                            <button id="myBtn" 
                            onclick="openModal('<%=results[result].start%>','<%=results[result].end%>','<%=results[result].rental_id%>')" 
                            class="button-panel" >
                                <span class="material-icons">
                                    mode_edit
                                </span>
                            </button>
                        <% } %> 

                        <div class="form-wrap">
                            <form action="/cancelRental/<%=results[result].rental_id%>" method="POST">
                                <% if (results[result].status == 'CANCELED' || results[result].status == 'APPROVED') { %>
                                <button type="submit" class="button-panel" disabled>
                                    <span class="material-icons">
                                        cancel
                                    </span>
                                </button>   
                                <% } else {%>   
                                <button type="submit" class="button-panel">
                                    <span class="material-icons">
                                        cancel
                                    </span>
                                </button> 
                                <% } %>   
                            </form>
                        </div>                    
                </div>
            </div>
    
        <% } %>
        </div>
        <div id="myModal" class="modal-popup">
            <!-- Modal content -->
            <div class="modal-content-block">
              <div class="modal-title">
                Edytuj Rezerwacje
              </div>
                <form action="/changeRentalDates" method="POST" id="rental">
                    <div class="modal-inputs">
                        <div class="modal-input-wrapper">
                            <div class="modal-input-title">Od</div>
                            <input type="date" name="start" id="start" class="dateStartInput date-input">
                        </div>
                        <span class="material-icons arrow-marg" >
                            arrow_forward_ios
                        </span>
                        <div class="modal-input-wrapper">
                            <div class="modal-input-title">Do</div>
                            <input type="date" name="end" id="end" class="dateEndInput date-input">                    
                        </div>                    
                    </div>
                    <input type="text" name="rental_id" id="rental_id" hidden>
                    <div class="error-msg" >
                        <p id="error-msg" hidden>
                            Podane daty są zajęte
                        </p>
                    </div>
                    <div class="buttons-bot-modal">
                        <button submit class="button-modal modal-success">Change</button>
    
                        <button onclick="closeModal()" class="button-modal modal-cancel" type="button">Cancel</button>   
                    </div> 
                </form>
            </div> 
          </div> 
</body>
</html>